asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
cssselect==1.2.0
Django==4.2.19
django-autoslug==1.9.9
django-ckeditor==6.7.2
django-ckeditor-5==0.2.17
django-filter==24.3
django-js-asset==2.2.0
django-rest-passwordreset==1.5.0
django-unfold==0.48.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
idna==3.10
lxml==5.3.1
mailchimp-marketing==3.0.80
markdown2==2.5.3
pillow==11.1.0
point==0.0.1
psycopg2==2.9.10
PyJWT==2.10.1
pyotp==2.9.0
pyquery==2.0.1
python-dateutil==2.9.0.post0
readtime==3.0.0
requests==2.32.3
simpleui==4.0.2
six==1.11.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
gunicorn==20.1.0
